<div class="row">
    <div class="col-lg-3 col-12">
        <ul>
            <li><a href="">Test</a></li>
            <li><a href="">Test</a></li>
        </ul>
        <div class="col-lg-3 col-12">
            <h2>
                Контакти
            </h2>
            <div>
                <p>
                  <i class="fa fa-location-arrow" aria-hidden="true"></i>Симеоновско шосе 12Б
                </p>
                <p>
                    <i class="fa fa-phone-square" aria-hidden="true"></i> +359896721508
                </p>
                <p>
                 <i class="fa fa-envelope" aria-hidden="true"></i>rraycheva@gmail.com
                </p>
            </div>
        </div>
    </div>
</div>