#menu-bar{
    background-image: linear-gradient(-90deg,#323233, #0f0e24);
}
.nav-link{
    font-size: 16px;
    margin: 10px;
    color: #fff;
    font-weight: 500;
}
#icon{
    color:#fff;
}

.fa{
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 0px;
}


